.img_pro img {
    width: 100%;
    height: 161px
}

.ct_pro {
    /* padding-left: 0px!important; */
    /* padding-right:0px!important; */
    /* padding-top:30px; */
    height: 337px;
}

.list_news {
    max-height: 120px;
    margin-top: 30px;
}

.main_content {
    padding: 0px!important;
}

.dt-content {
    padding-top: 30px;
}

.footer {
    color: #616161;
    font-size: 11px
}

.footer dt,
.footer dd {
    line-height: 25px;
}

.footer02 {
    color: #757373;
    /* margin-top: 10px; */
    width: 100%;
    float: left;
    background: #e8e8e8;
    /* line-height: 30px; */
    font-size: 11px;
    padding-top: 10px;
}

#logo {
    float: left;
    margin-top: 10px;
}

.navbar {
    background: #cc0200;
}

.navbar a {
    color: #ffffff !important
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #ef2f2f !important;
}

.dropdown-menu {
    background-color: #cc0200 !important;
}

.dropdown-menu a:hover {
    background-color: #ef2f2f !important;
}

.banner {
    margin-top: -20px;
    width: 100%;
}

.navbar-fixed-top {
    border: 0px
}

.main-icon-banner {
    margin-top: -30px
}

.btn-tra-cuu {
    padding: 7px 100px;
    background: #efefef;
    color: #cc0200;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px
}

.ad01 {
    width: 100%
}

.ad02 {
    width: 100%
}

.main-ad01 {
    padding: 15px
}

.tinmoi {
    font-size: 15px;
    font-weight: bold
}

#content-left {
    border-top: 1px #ccc dotted;
    padding-top: 20px
}

.news-item h3 {
    font-weight: bold;
    font-size: 14px
}

.news-item p {
    font-size: 12px
}

.menu-pho-diem {
    background: #e0e0e0
}

.menu-pho-diem b {
    color: red;
    font-size: 15px
}

.menu-pho-diem a {
    color: #000000 !important;
    font-size: 13px;
    padding: 10px
}

.menu-pho-diem a.active {
    font-weight: bold
}

.main-pho-diem {
    height: 510px;
    width: 1175px;
}

.item-phodiem {
    width: 13px;
    background: #ffffff;
    float: left;
    margin-right: 10px;
}

.col-phodiem01 {
    width: 100%;
    background: #fff;
}

.col-phodiem02 {
    width: 100%;
    background: #cccccc;
}

#search-title {
    font-weight: bold
}

._success {
    color: #0ec809
}

.diem22 {
    color: red;
    padding-left: 4px;
}

span.thang-diem {
    width: 16px;
    height: 17px;
    -ms-transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    display: block;
    font-size: 12px;
}

.item-thang-diem {
    float: left;
    width: 23px;
}

.row {
    max-width: 1004px
}

@media (min-width: 768px) {
    .navbar-nav>li {
        margin-right: -11px;
        font-size: 12px;
    }
}

.container {
    max-width: 1004px
}

.row {
    margin-left: 0px;
    margin-right: 0px
}